.MovieList {
  .MovieText {
    padding-top: 30px;
    font-family: "Apple Color Emoji";
  }
  .MuiListItem-root.MuiListItem-gutters {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .MovieNotFound {
    text-align: center;
    padding-top: 50px;
    color: red;
  }
}

