.rmdb-movieinfo {
  background-size: cover!important;
  background-position: 50% !important;
  width: 100%;
  height: auto;
  padding: 40px 40px;
  box-sizing: border-box;
  -webkit-animation: animateMovieinfo 1.6s;
  animation: animateMovieinfo 1.6s;
}
.rmdb-detail-container {
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.rmdb-movieinfo-thumb {
  width: 100%;
  height: auto;
  animation: animateMovieinfo 1.6s;
}
.rmdb-movieinfo-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  animation: animateMovieinfo 1.6s;
}
.rmdb-movieinfo-content {
  background: rgba(0,0,0,.8);
  animation: animateMovieinfo 1.6s;
}

ul.MuiGridList-root.makeStyles-root-242 {
  animation: animateMovieinfo 1.6s;
}
.rmdb-imdb-rating {
  width: 100%;
  animation: animateMovieinfo 1.6s;
}
p.rmdb-imdb-rating-number {
  font-size: 1rem;
  strong {
    color: black;
  }
  animation: animateMovieinfo 1.6s;
}

img.MovieImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: animateMovieinfo 1.6s;
}
.rmdb-movieinfo-content-2 {
  background: rgba(0,0,0,.8);
  animation: animateMovieinfo 1.6s;
}
.MovieImage {
  animation: animateMovieinfo 1.6s;

}
.MuiGrid-root.rmdb-movieinfo-text.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-8 {
  padding-top: 7%;
  padding-bottom: 7%;
  animation: animateMovieinfo 1.6s;
}