.Title {
  height: auto !important;
  width: auto  !important;
}
.owl-theme .owl-nav {
  margin-top: -15px !important;
  font-size: 2rem;
}
h5.MuiTypography-root.Category.MuiTypography-h5.MuiTypography-alignLeft {
  font-weight: 900;
  font-style: italic !important;
  padding-top: 1%;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
  padding-left: 3%;
  padding-right: 3%;
}
