.Title {
  height: auto !important;
  width: auto  !important;
}
h5.MuiTypography-root.Category.MuiTypography-h5.MuiTypography-alignLeft {
  font-weight: 900;
  font-style: italic !important;
  padding-top: 1%;
}
h5.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.MuiTypography-alignLeft {
  font-weight: 900;
  font-style: italic !important;
  padding-top: 1%;
  padding-left: 3%;
}