.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6 {
  padding-top: 2rem;
}
.TodoInfo {
  .MuiListItem-root.MuiListItem-gutters {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.ListTodo {
  .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
    padding-top: 0px;
  }
}