.nav {
  display: contents;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.Navigation {
  a {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
  .MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
    background-color: rgba(0, 0, 3, 0.86);
  }
  .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
    color: white;
  }
}
