.nav {
  display: contents;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.DrawerList {
  a {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
  .MuiDivider-root {
    background-color: darkred;
    padding-top: 3px;
  }
  button.MuiButtonBase-root.MuiIconButton-root {
    color: white;
  }
}
.MuiPaper-root.MuiDrawer-paper.jss7.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  background-color: #242325;
}
.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-7.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
  background-color: rgba(36, 35, 37, 1);
}
.MuiIconButton-root {
  flex: 0 0 auto;
  color: #f8f9fa;
  padding: 12px;
  overflow: visible;
  font-size: 20px;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.DrawerList {
  color: white;
  a {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
  .MuiDivider-root {
    background-color: cornflowerblue;
    padding-top: 3px;
  }
}


